.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
nav{
  display: flex;
  gap: 36px;
  justify-content: space-between;
  margin-top: 30px;
}
nav img{
  width:76px;
  height: 42.75px;
}
nav ul {
  display: flex;
  list-style: none;
  gap: 36px;
  font-weight:600;
  text-align: center;
  align-content: center;
}
.heading{
  font-size: 108px ;
  font-weight: 800;
  line-height: 102px;
}
.para{
  color: gray;
  font-weight: 600;
  font-size: 20px;
  margin-top: 40px;
  
}
.brand img{
  width: 50px;
  margin-left: 40px;
}
.brand p{
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 25px;
  font-weight: 500;
  color: grey;
}
.brand{
  align-items: center;
  margin-left: 120px;
}

.row{
  align-items: center;
  height:70vh ;

}
.button button{
  font-size: 30px;
  margin-left: 40px;
  margin-top: 40px;
}
